body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #2E3A3C;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
  
  h1 {
    font-weight: 600;
    font-size: 25px;
  }
  
  p, span, label, button {
    font-weight: 400;
  }

.main-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-group button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    color: white;
    transition: background-color 0.5s ease;
}

.btn-main {
    background-color: #2E3A3C;
}

.btn-secondary {
    background-color: #3F8491;
}

button:hover {
    opacity: 0.8;
}

.error-message {
    color: rgb(156, 36, 36);
    font-size: 1rem;
    margin-top: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    color: rgb(7, 92, 25);
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: calc(6*30px);
    height: 50px;
    display: flex;
    color: #8d7958;
    filter: drop-shadow(30px 25px 0 currentColor) drop-shadow(60px 0 0 currentColor) drop-shadow(120px 0 0 currentColor);
    clip-path: inset(0 100% 0 0);
    animation: l12 2s infinite steps(7);
}

.loader:before {
    content: "";
    width: 30px;
    height: 25px;
    --c: no-repeat radial-gradient(farthest-side, currentColor 92%, #0000);
    background:
        var(--c) left /70% 70%,
        var(--c) right/20% 20%,
        var(--c) top 0 right 15%/20% 20%,
        var(--c) bottom 0 right 15%/20% 20%;
}

@keyframes l12 {
    100% {
        clip-path: inset(0 -30px 0 0)
    }
}

.hidden {
    display: none;
}

#loader-text {
    padding: 20px;
}

@media (max-width: 900px) {

    .main-container {
        max-width: 80%;
    }

    .input-group {
        margin-bottom: 12px;
    }

    input {
        padding: 9px;
    }

    .button-group button {
        width: 48%;
        margin: 5px 1%;
    }
}

@media (min-width: 901px) {

    .main-container {
        max-width: 400px;
    }
}