body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-container,
.home-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.home-container {
    display: none;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-group button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    color: white;
    background-color: #2E3A3C;
    transition: background-color 0.5s ease;
}

button[type="submit"] {
    background-color: #3F8491;
}

button:hover {
    opacity: 0.8;
}

.error-message {
    color: rgb(168, 170, 20);
    font-size: 0.9rem;
    margin-top: 5px;
    display: block;
}

@media (max-width: 900px) {

    .login-container,
    .home-container {
        max-width: 80%;
    }

    .input-group {
        margin-bottom: 12px;
    }

    input {
        padding: 9px;
    }

    .button-group button {
        width: 48%;
        margin: 5px 1%;
    }
}

@media (min-width: 901px) {

    .login-container,
    .home-container {
        max-width: 400px;
    }
}